body {
    background-color: rgb(240, 240, 228);
}

.title {
    width: 200px;
    height: auto;
}

.writ_txt {
    width: 200px;
    height: auto;
}

.writ_txt:hover {
    opacity: 0.5;
}

.container {
    display: flex;
    flex: 1;
    gap: 200px;
}

.left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_gallery {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    padding: 0;
    gap: 10px;
}

.column_1, .column_2 {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding: 15px;
    display: flex;
    justify-content: start;
    max-width: 450px;
    height: auto;
}

.image {
    width: 450px;
    height: auto;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content:hover {
    opacity: 1;
}

.content h1 {
    font-size: 60px;
    color: rgb(255, 248, 59);
    margin-left: 20px;
    font-family: "Signika";
}

.content p {
    font-size: 25px;
    margin-bottom: 5px;
    color: whitesmoke;
}


img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 50px;
}

a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: rgb(159, 154, 154);
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

#boxbg {
    position: fixed;
    z-index: 150;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, .6);
    backdrop-filter: blur(3px);
    display: none;
}

#boxbg.active {
    display: grid;
    place-items: center;
}